@model IEnumerable<DO_AN.Models.Train>

@{
    ViewData["Title"] = "Danh sách chuyến xe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
}



<h1>DANH SÁCH CHUYẾN XE</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Tạo Mới</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Chuyến Xe</th>
                <th scope="col">Ngày Khởi Hành</th>
                <th scope="col">Hệ Số Chuyến Xe</th>
                <th scope="col">Tuyến Đường</th>
                <th scope="col">Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        @{
                            i = i + 1;
                        } @i
                    </th>
                    <td>@Html.DisplayFor(modelItem => item.NameTrain)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateStart)</td>
                    <td>@Html.DisplayFor(modelItem => item.CoefficientTrain)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdTrainRouteNavigation.PointStart) - @Html.DisplayFor(modelItem => item.IdTrainRouteNavigation.PointEnd)</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-area="Admin" asp-controller="Trains" asp-action="Edit" asp-route-id="@item.IdTrain">Sửa</a>
                        <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="Trains" asp-action="Delete" asp-route-id="@item.IdTrain">Xóa</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
