@model DO_AN.Models.Account

@{
    ViewData["Title"] = "Delete Account";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center my-4>XÓA TÀI KHOẢN</h1>

<div class="card mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <h3>Bạn có chắc chắn muốn xóa tài khoản này không?</h3>
        <hr />
        <div class="mb-3">
            <label class="form-label">Số Điện Thoại</label>
            <p>@Html.DisplayFor(model => model.Phone)</p>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <p>@Html.DisplayFor(model => model.Email)</p>
        </div>

        <div class="mb-3">
            <label class="form-label">Mật Khẩu</label>
            <p>@Html.DisplayFor(model => model.Password)</p>
        </div>

        <div class="mb-3">
            <label class="form-label">Giới Tính</label>
            <p>@Html.DisplayFor(model => model.Sex)</p>
        </div>

        <div class="mb-3">
            <label class="form-label">Ngày Sinh</label>
            <p>@Html.DisplayFor(model => model.DateOfBirth)</p>
        </div>

        <div class="mb-3">
            <label class="form-label">Vai Trò</label>
            <p>@Html.DisplayFor(model => model.IdRoleNavigation.IdRole)</p>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdAccount" />
            <div class="d-grid gap-2">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
            </div>
        </form>
    </div>
</div>
