@model IEnumerable<DO_AN.Models.Account>

@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;

}

<h1>Danh sách tài khoản</h1>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create", "Accounts", new { area = "Admin" })">Tạo Mới</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>

                <th scope="col">Số Điện Thoại</th>
                <th scope="col">Email</th>
                <th scope="col">Mật Khẩu</th>
                <th scope="col">Giới Tính</th>
                <th scope="col">Ngày Sinh</th>
                <th scope="col">Vai Trò</th>
                <th scope="col">Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        @{
                            i = i + 1;
                        } @i
                    </th>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Password)</td>
                    <td>@((bool)item.Sex ? "Nữ" : "Nam")</td>
                    <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdRoleNavigation.NameRole)</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.IdAccount">Sửa</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.IdAccount">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
