@model DO_AN.Models.Order

@{
    ViewData["Title"] = "Delete Order";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center my-4">XÓA ĐƠN HÀNG</h1>

<div class="card mx-auto" style="max-width: 800px;">
    <div class="card-body">
        <h3 class="card-title">Bạn chắc chắn muốn xóa đơn hàng này?</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                <strong>Đơn Giá</strong>
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt class="col-sm-4">
                <strong>Ngày Đặt Hàng</strong>
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DateOrder)
            </dd>
            <dt class="col-sm-4">
                <strong>Mã Vé</strong>
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IdTicket)
            </dd>
            <dt class="col-sm-4">
                <strong>Tên Khách Hàng</strong>
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NameCus)
            </dd>
            <dt class="col-sm-4">
                <strong>Số Điện Thoại</strong>
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-4">
                <strong>Mã Khách Hàng</strong>
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IdCusNavigation.IdCus)
            </dd>
            <dt class="col-sm-4">
                <strong>Mã Giảm Giá</strong>
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.IdDiscountNavigation.IdDiscount)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdOrder" />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
            </div>
        </form>
    </div>
</div>
