@model DO_AN.Models.Coach

@{
    ViewData["Title"] = "Delete Coach";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center my-4">XÓA XE</h1>

<div class="card mx-auto" style="max-width: 600px;">
    <div class="card-body">
        <h3>Bạn có chắc chắn muốn xóa xe này không?</h3>
        <div>
            <h4>Chi Tiết Xe</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    <strong>Tên Xe</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NameCoach)
                </dd>
                <dt class="col-sm-2">
                    <strong>Loại</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt class="col-sm-2">
                    <strong>Số Lượng Ghế</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SeatsQuantity)
                </dd>
                <dt class="col-sm-2">
                    <strong>Giá Cơ Bản</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BasicPrice)
                </dd>
                <dt class="col-sm-2">
                    <strong>Chuyến Xe</strong>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdTrainNavigation.IdTrain)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdCoach" />
                <div class="d-grid gap-2">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
