@model DO_AN.ViewModel.RegisterVM

@{
    Layout = "_LayoutAccount";
}
<link rel="stylesheet" href="~/css/index.css" />
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.rtl.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.css" />
<link rel="stylesheet" href="~/css/access.css" />
<div class="d-flex justify-content-center align-items-center vh-100" style="width:100%">
    <div class="container shadow-lg p-4" style="max-width: 800px; border-radius: 10px;">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="~/public/img-01.webp" class="img-fluid" alt="Register Image">
            </div>
        

            <div class="col-md-6">
                @using (Html.BeginForm("Register", "Access", FormMethod.Post))
                {
                    <form class="login100-form">
                        <h3 class="text-center mb-4">Member Register</h3>
                        @{
                            if (ViewBag.Status != null)
                            {
                                if (ViewBag.Status == 1)
                                {
                                    <p class="text-success text-center">Register succeeded</p>
                                }
                                else if (ViewBag.Status == 0)
                                {
                                    <p class="text-danger text-center">Register failed</p>
                                }
                            }
                        }
                        <div class="mb-3">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", placeholder = "Email", required = "required" })
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", type = "text", placeholder = "Full Name", required = "required" })
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", type = "password", placeholder = "Password", required = "required" })
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", type = "password", placeholder = "Confirm Password", required = "required" })
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", type = "text", placeholder = "Phone number" })
                        </div>
                        <div class="mb-3">
                            @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control", type = "date", placeholder = "Date Of Birth" })
                        </div>
                        <div class="mb-3">
                            <label class="form-check-label" style="margin-right: 10px;">
                                <input class="form-check-input" type="radio" asp-for="Sex" value="true" /> Nam
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" asp-for="Sex" value="false" /> Nữ
                            </label>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <div class="text-center mt-3">
                            <a class="text-decoration-none" asp-action="Login" asp-controller=" ">Do you already have an account?</a>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
