@page "{id:int}"
@model DO_AN.Pages.AccountDt.IndexModel
@using DO_AN.Models;

@{
    Layout = "Master_layout";
}

<link rel="stylesheet" href="~/css/info.css" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div style="min-height:100vh">
    <div class="container">
        <div  style="margin-top:50px;justify-content:center;display:flex;gap:50px">
            <div class="col-md-2 mb-4" style="margin-top:50px">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <img src="~/public/account-circle.svg" class="me-2" />
                        Thông tin tài khoản
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class='bx bxs-key me-2'></i>
                        Đổi mật khẩu
                    </a>    
                    <a asp-action="Logout" asp-controller="Access" class="list-group-item list-group-item-action">
                        <img src="~/public/logout.svg" class="me-2" />
                        Đăng xuất
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Email<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" disabled readonly name="Email" value="@Model.Account?.Email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Họ và tên<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="FullName" value="@Model.Customer?.FullName">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số điện thoại<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="Phone" value="@Model.Account?.Phone">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ngày sinh</label>
                        <input type="date" id="dateOfBirth" name="DateOfBirth" class="form-control" value="@Model.Account?.DateOfBirth?.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Giới tính</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="male" name="Sex" value="true" @(Model.Account?.Sex == true ? "checked" : "")>
                                <label class="form-check-label" for="male">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="female" name="Sex" value="false" @(Model.Account?.Sex == false ? "checked" : "")>
                                <label class="form-check-label" for="female">Nữ</label>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">
                            <span>Lưu</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
